= simple_form_for(@address) do |f|
  = f.error_notification

  .form-inputs
    = f.input :line_1
    = f.input :line_2
    = f.input :city
    = f.input :state
    = f.input :zip

  .form-actions
    = f.button :submit
