%h1 Listing practice_areas

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @practice_areas.each do |practice_area|
      %tr
        %td= practice_area.name
        %td= practice_area.description
        %td= link_to 'Show', practice_area
        %td= link_to 'Edit', edit_practice_area_path(practice_area)
        %td= link_to 'Destroy', practice_area, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Practice area', new_practice_area_path
